<footer>
    <div class="info-footer">
        <div class="top-footer">
            <div class="left-footer">
                <h3>Endereços</h3>
                <div class="item-footer">
                    <h4>Juvevê</h4>
                    <p>R. Rocha Pombo, 246 - Juvevê, Curitiba - PR, 80030-390</p>
                    <p>Estacionamento próprio e gratuito</p>
                </div>
                <div class="item-footer">
                    <h4>Shopping Curitiba</h4>
                    <p>R. Brg. Franco, 2300 - Loja 256 - Largo Curitiba, Curitiba - PR, 80250-903</p>
                </div>
            </div>
            <div class="mid-footer">
                <h3>Reservas e horários</h3>
                <div class="item-footer">
                    <h4>Juvevê</h4>
                    <p>Segunda a Sábado: 12h - 14:30 | 19h - 22:30 <br/>Domingo: 12h - 15h</p>
                    <p>(41) 3030-4971</p>
                </div>
                <div class="item-footer">
                    <h4>Shopping Curitiba</h4>
                    <p>Todos os dias: 11:30h - 22h</p>
                    <p>(41) 98855-3826</p>
                </div>
            </div>
            <a href="/perguntas" class="right-footer">
                <h3>Perguntas Frequentes</h3>
            </a>

        </div>
        <a href="/">
            <img 
                src="../img/nav-logo.png" 
                srcset="../img/nav-logo@2x.png 2xalt=">
        </a>
        <a href="https://namiconsultoria.com.br" class="nami">Desenvolvido por Nami Consultoria</a>
    </div>
    <img 
        src="../img/footer-img.png"
        srcset="../img/footer-img@2x.png 2x, ../img/footer-img@3x.png 3x"
        class="tablet-desktop"
        alt="">
</footer>