<nav class="nav">
  
  <label>
    <input type="checkbox" />
    <span class="menu"> 
      <span class="hamburger">
        <img
          src="../img/icons/open.png" 
          srcset="../img/icons/open@2x.png 2x"
          class="abrir">
      </span> 
    </span>

    <ul>
 
      <img 
        src="../img/icons/close.png"
        srcset="../img/icons/close@2x.png 2x"
        alt=""
        class="fechar">
      <div class="wrap-links">
        <li>
          <a class="links" id="home" href="/">Home <img src="../img/icons/bolinha.png" srcset="../img/icons/bolinha@2x.png 2x" alt=""></a>
        </li>
        <li>
          <a class="links" id="eventos" href="/eventos">Eventos <img src="../img/icons/bolinha.png" srcset="../img/icons/bolinha@2x.png 2x" alt=""></a>
        </li>
        <li>
          <a class="links" id="contato" href="/contato">Contato <img src="../img/icons/bolinha.png" srcset="../img/icons/bolinha@2x.png 2x" alt=""></a>
        </li>
        <li>
          <a class="links" id="contato" href="/perguntas">Perguntas frequentes <img src="../img/icons/bolinha.png" srcset="../img/icons/bolinha@2x.png 2x" alt=""></a>
        </li>
      </div>
      <div class="icons-nav">
        <a href="https://www.instagram.com/armazem_71/">
          <img 
          src="../img/icons/insta-nav.png"
          alt="">
        </a>
        <a href="https://api.whatsapp.com/send?phone=554130304971&text=Estava%20no%20site%20e%20gostaria%20de%20fazer%20uma%20reserva." target="_blank">
          <img 
            src="../img/icons/whats-nav.png"
            alt="">
        </a>
      </div>
    </ul>
  </label>
</nav> 