---
title: Armazém 71 - Cucina - Vino
layout: "base.njk"
cssPath: "/css/home.css"
---

{% include 'nav.njk' %}

<header class="header">
    <img class="tablet-desktop header-back" src="../img/home/header.png" alt="">
    <img class="only-mobile header-back" src="../img/home/header-mob.png" alt="">
    <a href="/">
        <img 
            src="../img/nav-logo.png" 
            srcset="../img/nav-logo@2x.png 2x"
            class="nav-logo" alt="">
    </a>
    <div class="header-text">
        <h2>A arte da cozinha italiana em cada detalhe.</h2>
    </div>
</header>

<section class="momentos">
    <h1>Sua sala de jantar fora de casa: um lugar para viver bons momentos.</h1>
    <div class="info-momentos">
        <p>
            Em um ambiente sofisticado e descontraído, cada detalhe convida você a se sentir em casa. Nossos vinhos podem ser escolhidos na adega e apreciados à mesa, acompanhando pratos preparados com excelência pela equipe.
        </p>
        <p>
            Mais que um restaurante, o Armazém 71 é um convite para desacelerar, brindar a vida e viver bons momentos à mesa.
        </p>
    </div>
    <div class="fotos-momentos">
        <img src="../img/home/momentos1.png" alt="">
        <img src="../img/home/momentos2.png" alt="">
    </div>
    <img 
        src="../img/home/back-circle.png"
        class="back-circle"
        alt="">
</section>

<section class="casas">
    <h4 class="only-mobile">Nossas casas</h4>
    <div class="left-casas">
        <img src="../img/home/shopping.png" alt=""
            class="ambiente">
        <img 
            src="../img/icons/change.png" 
            srcset="../img/icons/change@2x.png 2x"
            class="change-arrow"
            alt="">
    </div>
    <div class="right-casas" id="info-casas">
        <h4 class="tablet-desktop">Nossas casas</h4>
        <h2>Shopping Curitiba</h2>
        <div class="info-casas">
            <p class="casas-adress">
                R. Brg. Franco, 2300 - Loja 256 - Largo Curitiba, Curitiba - PR, 80250-903
            </p>
            <p>
                Todos os dias: 11:30h às 22h
            </p>
            <a id="contato" href="https://api.whatsapp.com/send?phone=5541988553826&text=Estava%20no%20site%20e%20gostaria%20de%20fazer%20uma%20reserva." target="_blank" class="transparentButton"> Faça sua reserva</a>
        </div>
    </div>
</section>

<section class="juveve">
    <div class="left-juveve">
        <h1>Juvevê</h1>
        <div class="wrap-info">
            <p>Massas artesanais frescas e risotos cremosos assinados pela Chef Ingrid Aparecida Pereira.</p>
            <div class="item-menu">
                <div class="top-item">
                    <div class="left-top">
                        <p>Menu</p>
                        <h4>Almoço</h4>
                    </div>
                    <div class="buttons-menu">
                        <a href="../pdf/pranzo-juveve.pdf" target="_blank" class="blurButton">Pranzo Menu</a>
                        <a href="../pdf/business-juveve.pdf" target="_blank" class="blurButton">Business Lunch</a>
                    </div>
                </div>
                <p>Das 11:45 às 14:30</p>
            </div>
            <div class="item-menu">
                <div class="top-item">
                    <div class="left-top">
                        <p>Menu</p>
                        <h4>Jantar</h4>
                    </div>
                    <div class="buttons-menu">
                        <a href="../pdf/cena-juveve.pdf" target="_blank" class="blurButton">Cena Menu</a>
                        <a href="../pdf/menu-juveve.pdf" target="_blank" class="blurButton">Menu A71</a>
                    </div>
                </div>
                <p>Das 19h às 22:30 | Sábados, domingos e feriados: Menu A71 </p>
            </div>
        </div>
    </div>
    <div class="right-juveve">
        <img src="../img/home/prato-juveve.png" alt="">
    </div>
</section>

<section class="juveve-bebidas">
    <img src="../img/home/bebidas1.png" alt="">
    <div class="info-bebidas">
        <div class="title-bebidas">
            <h4>Menu</h4>
            <h2>Bebidas</h2>
        </div>
        <p>
            Drinks, vinhos e refrescos escolhidos para harmonizar com cada sabor da casa.
        </p>
        <div class="bebidas-buttons">
            <a href="../pdf/bebidas-juveve.pdf" target="_blank" class="transparentButton">Bebidas</a>
            <a href="../pdf/drinks-juveve.pdf" target="_blank" class="transparentButton">Drinks</a>
        </div>
    </div>
</section>

<section class="juveve invert">
    <div class="right-juveve">
        <img src="../img/home/prato-shopping.png" alt="">
    </div>
    <div class="left-juveve">
        <h1>Shopping Curitiba</h1>
        <div class="wrap-info">
            <p>Cada prato revela o cuidado da Chef Bianca Krüger: massas frescas e risotos cheios de sabor.</p>
            <div class="item-menu">
                <div class="top-item">
                    <div class="left-top">
                        <p>Menu</p>
                        <h4>Almoço</h4>
                    </div>
                    <div class="buttons-menu">
                        <a href="../pdf/pranzo-shopping.pdf" target="_blank" class="blurButton">Pranzo Menu</a>
                        <a href="../pdf/executivo-shopping.pdf" target="_blank" class="blurButton">Menu Executivo</a>
                    </div>
                </div>
                <p>Das 11:30 às 15:00 | Sábados, domingos e feriados: Menu A71 </p>
            </div>
            <div class="item-menu">
                <div class="top-item">
                    <div class="left-top">
                        <p>Menu</p>
                        <h4>Jantar</h4>
                    </div>
                    <div class="buttons-menu">
                        <a href="../pdf/cardapio-shopping.pdf" target="_blank" class="blurButton">Menu A71</a>
                    </div>
                </div>
                <p>Das 18:30 às 22:00 | Sábados, domingos e feriados: Menu A71 </p>
            </div>
        </div>
    </div>
</section>

<section class="juveve-bebidas shopping">
    <div class="info-bebidas">
        <div class="title-bebidas">
            <h4>Menu</h4>
            <h2>Bebidas</h2>
        </div>
        <p>
            Drinks, vinhos e refrescos escolhidos para harmonizar com cada sabor da casa.
        </p>
        <div class="bebidas-buttons">
            <a href="../pdf/cocktail-shopping.pdf" target="_blank" class="transparentButton">Cocktails</a>
        </div>
    </div>
    <img src="../img/home/bebidas2.png" alt="">
</section>

<section class="vinhos">
    <img class="tablet-desktop" src="../img/home/vinhos.png" alt="">
    <img class="only-mobile" src="../img/home/vinhos-mob.png" alt="">
    <div class="vinhos-info">
        <h2>Vinhos</h2>
        <p>Não é só para degustar — aqui, você também pode levar nossos rótulos para casa. Uma loja de vinhos com curadoria especial para tornar cada momento único. Venha adquirir sua garrafa conosco, seja na unidade do Juvevê ou do Shopping Curitiba.</p>
        <a href="https://api.whatsapp.com/send?phone=554130304971&text=Estava%20no%20site%20e%20gostaria%20de%20informações%20sobre%20os%20vinhos." class="blurButton">Saiba Mais</a>
    </div>
</section>

<section class="eventos">
    <img src="../img/home/eventos.png" alt="">
    <div class="eventos-info">
        <h1>Eventos</h1>
        <h2>Transforme sua celebração em uma experiência inesquecível</h2>
        <p>Porque cada encontro merece ser vivido com sabor e boas companhias. Viva seu evento no Armazém 71.</p>
        <a href="https://api.whatsapp.com/send?phone=554130304971&text=Estava%20no%20site%20e%20gostaria%20de%20informações%20para%20eventos." class="transparentButton">Saiba Mais</a>
    </div>
</section>

{% include 'footer.njk' %}

<script>
    const button = document.querySelector('.change-arrow');
    const infoCasas = document.querySelector('#info-casas');
    const restaurantImage = document.querySelector('.ambiente');
    let padrao = "shopping"

    button.addEventListener('click', () => {
        if (padrao === "shopping") {
            padrao = "juveve"
            restaurantImage.src = "../img/home/juveve.png"
            infoCasas.innerHTML = `
                <h4 class="tablet-desktop">Nossas casas</h4>
                <h2>Juvevê</h2>
                <div class="info-casas">
                    <p class="casas-adress">
                        R. Rocha Pombo, 246 - Juvevê, Curitiba - PR, 80030-390
                    </p>
                    <p>
                        Segunda a Sábado: 12h às 14:30 | 19h às 22:30<br/>Domingo: 12h às 15h
                    </p>
                    <a id="contato" href="https://api.whatsapp.com/send?phone=554130304971&text=Estava%20no%20site%20e%20gostaria%20de%20fazer%20uma%20reserva." target="_blank" class="transparentButton"> Faça sua reserva</a>
                </div>
            `
        }
        else {
            padrao = "shopping"
            restaurantImage.src = "../img/home/shopping.png"
            infoCasas.innerHTML = `
                <h4 class="tablet-desktop">Nossas casas</h4>
                <h2>Shopping Curitiba</h2>
                <div class="info-casas">
                    <p class="casas-adress">
                        R. Brg. Franco, 2300 - Loja 256 - Largo Curitiba, Curitiba - PR, 80250-903
                    </p>
                    <p>
                        Segunda a Sábado: 12h às 14:30 | 19h às 22:30<br/>Domingo: 12h às 15h
                    </p>
                    <a id="contato" href="https://api.whatsapp.com/send?phone=5541988553826&text=Estava%20no%20site%20e%20gostaria%20de%20fazer%20uma%20reserva." target="_blank" class="transparentButton"> Faça sua reserva</a>
                </div>
            `
        }
    })


    const home = document.querySelector('#home');
    
    home.classList.add("selected")

</script>
